<div class="toolbar-container" style="margin: 0px; margin-right: 10px;">
    <div class="toolbar">
        <div class="tabs">
            <div class="cercle" routerLinkActive="active"></div>
            <div class="link " routerLinkActive="active"><a routerLink="/defragApp/spectrumview"
                    routerLinkActive="active">Spectrum
                    View </a>
                <div id="line2" class="selectline " routerLinkActive="active"></div>
            </div>
        </div>
        <div class="tabs">
            <div class="cercle active"></div>
            <div class="link active"><a routerLink="/defragApp/optimizationview" routerLinkActive="active">Optimization
                    Settings</a>
                <div id="line3" class="selectline "></div>
            </div>
        </div>
        <div class="tabs">
            <div class="cercle "></div>
            <div class="link"> <a routerLink="/defragApp/configview" routerLinkActive="active">Configuration Steps</a>
                <div id="line4" class="selectline "></div>
            </div>
        </div>
        <div class="tabs">
            <div class="cercle "></div>
            <div class="link"><a routerLink="/defragApp/deployview" routerLinkActive="active"> Deploy
                    Configuration</a>
                <div id="line5" class="selectline"></div>
            </div>
        </div>
    </div>
    <div class="line" style="height: 2px"> </div>
</div>